@inherits LayoutComponentBase


<div class="main">

    <div class="card text-center content px-4" style="padding: 0px!important; margin: 0px;">
        <div class="card-header" style="background-color: #CE1141; color: white;">
            <h1>Stacey King Soundboard</h1>
            <img width="50px;" src="https://teamcolorcodes.com/wp-content/uploads/2017/02/Chicago-Bulls-Logo-PNG.png" />
        </div>
        @Body
        <div class="card-footer text-muted" style="background-color: #CE1141; color: white!important;">
            © 2021 StaceyKingSoundboard.com
        </div>
    </div>
</div>